<template>
  <!-- <v-app dark> -->
  <v-app >
    <v-navigation-drawer
      :mini-variant.sync="miniVariant"
      :clipped="clipped"
      v-model="drawer"
      fixed
      app
    >
      <v-list>
        <v-list-tile
          v-for="(item, i) in items"
          :key="i"
          :to="item.to"
          exact
          router
        >
          <v-list-tile-action>
            <v-icon v-html="item.icon"/>
          </v-list-tile-action>
          <v-list-tile-content>
            <v-list-tile-title v-text="item.title"/>
          </v-list-tile-content>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-toolbar 
      :clipped-left="clipped"
      app 
      fixed >
      <v-toolbar-side-icon @click="drawer = !drawer"/>
      <v-btn
        icon
        @click.stop="miniVariant = !miniVariant"
      >
        <v-icon v-html="miniVariant ? 'chevron_right' : 'chevron_left'"/>
      </v-btn>
      <v-btn
        icon
        @click.stop="clipped = !clipped"
      >
        <v-icon>web</v-icon>
      </v-btn>
      <v-btn
        icon
        @click.stop="fixed = !fixed"
      >
        <v-icon>remove</v-icon>
      </v-btn>
      <v-toolbar-title v-text="title"/>
      <v-spacer/>
      <v-btn
        icon
        @click.stop="rightDrawer = !rightDrawer"
      >
        <v-icon>menu</v-icon>
      </v-btn>
    </v-toolbar>
    <v-content>
      <v-container>
        <nuxt />
      </v-container>
    </v-content>
    <v-navigation-drawer
      :right="right"
      v-model="rightDrawer"
      temporary
      fixed
    >
      <v-list>
        <v-list-tile @click.native="right = !right">
          <v-list-tile-action>
            <v-icon light>compare_arrows</v-icon>
          </v-list-tile-action>
          <v-list-tile-title>Switch drawer (click me)</v-list-tile-title>
        </v-list-tile>
      </v-list>
    </v-navigation-drawer>
    <v-footer 
      :fixed="fixed" 
      app>
      <span>&copy; 2017</span>
    </v-footer>
  </v-app>
</template>

<script>
export default {
  data() {
    return {
      clipped: false,
      drawer: true,
      fixed: false,
      items: [
        { icon: 'apps', title: '-- Welcome -- ', to: '/' },
        { icon: 'apps', title: '-- About --', to: '/about' },
        { icon: 'attach_file', title: 'Async Components', to: '/async-comps' },
        { icon: 'attach_file', title: 'Client Search', to: '/client-search' },
        { icon: 'attach_file', title: 'Event Bus Test', to: '/event-bus-test' },
        { icon: 'attach_file', title: 'File Reader', to: '/file-reader' },
        {
          icon: 'attach_file',
          title: 'Functional Component',
          to: '/functional-comp'
        },
        { icon: 'bubble_chart', title: 'Form Handling', to: '/form-handling' },
        { icon: 'map', title: 'Google Maps', to: '/google-maps' },
        { icon: 'map', title: 'Inf. Scroll **BROKEN', to: '/infinite-scroll' },
        { icon: 'map', title: 'Abstract Components', to: '/abstract-comps' },
        { icon: 'map', title: 'Mail Check', to: '/mail-check' },
        { icon: 'map', title: 'Pagination **BROKEN', to: '/pagination' },
        { icon: 'map', title: 'REST Axios - GET', to: '/rest-axios-get' },
        {
          icon: 'map',
          title: 'REST Axios - GET Base',
          to: '/rest-axios-get-base'
        },
        { icon: 'map', title: 'Rest API Axios - POST', to: '/rest-axios-post' },
        { icon: 'map', title: 'Tween Counter', to: '/tween-counter' },
        { icon: 'map', title: 'Vuelidate Form', to: '/vuelidate-form' },
        { icon: 'map', title: 'Vue Algolia Search', to: '/v-algolia-search' },
        { icon: 'map', title: 'Vue Async Computed', to: '/v-async-computed' },
        { icon: 'map', title: 'Vue Cloud Firestore', to: '/v-firestore' },
        { icon: 'map', title: 'VueFire Firebase', to: '/v-vuefire' },
        { icon: 'map', title: 'Vue Offline', to: '/v-offline' },
        { icon: 'map', title: 'Vue Picture Input', to: '/v-picture-input' },
        { icon: 'map', title: 'Vue Tour', to: '/v-tour' }
      ],
      miniVariant: false,
      right: true,
      rightDrawer: false,
      title: 'Vuetify.js'
    };
  }
};
</script>
