<template>  
  <v-layout 
    column 
    align-center 
    justify-center>
    <h1 class="white--text">Vue Sandbox</h1>
    <h4 class="white--text">This sandbox was built as a testbed for Alligator.io Vue articles</h4>
    <h4 class="white--text">It will also be used for other plugin and general purpose testing.</h4>

  </v-layout>
</template>
