<template>
  <div id="app">
    <textarea 
      v-model="text"
      rows="10" />
    <br>
    <TextReader @load="text = $event"/>
  </div>
</template>

<script>
import TextReader from '@/components/TextReader';

export default {
  components: {
    TextReader
  },
  data: () => ({ text: '' })
};
</script>
