<template>
  <!-- @submit handles any form of submission. -->
  <!-- .prevent keeps the event from bubbling around and doing anything else. -->
  <form @submit.prevent="handleSubmit">
    <label>
      Email:
      <input 
        v-model="user.email"
        type="email"/>
    </label>
    <label>
      Name:
      <input 
        v-model="user.name"
        type="text"/>
    </label>
    <label>
      Password:
      <input 
        v-model="user.password"
        type="password"/>
    </label>
    <button type="submit">Submit</button>
  </form>
</template>

<script>
export default {
  data() {
    return {
      user: {
        email: '',
        name: '',
        password: ''
      }
    };
  },

  methods: {
    handleSubmit() {
      // Send data to the server or update your stores and such.
      console.log(this.user);
    }
  }
};
</script>
