<template>
  <form>
    <div class="form--inputContainer is-field-withEmailSuggestion">
      <input 
        v-model="email" 
        placeholder="Email address" 
        type="email"
        @blur="verifyEmail" >
      <span 
        v-if="mailCheckedEmail" 
        class="form--notice form--suggestEmail">
        Did you mean <span>{{ mailCheckedEmail }}</span>?
      </span>
      <br>
      <span @click="setEmail">{{ mailCheckedEmail }}</span>
    </div>
  </form>
</template>

<script>
import Mailcheck from 'mailcheck';
export default {
  data() {
    return {
      email: '',
      mailCheckedEmail: undefined
    };
  },

  methods: {
    verifyEmail() {
      let self = this;

      Mailcheck.run({
        email: self.email,
        suggested: function(suggestion) {
          self.mailCheckedEmail = suggestion.full;
        },
        empty: function() {}
      });
    },
    setEmail() {
      this.email = this.mailCheckedEmail;
      this.mailCheckedEmail = undefined;
    }
  }
};
</script>
