<template>
  <div>
    <comp-pagination
      :total-pages="11"
      :total="113"
      :per-page="10"
      :current-page="currentPage"
      @pagechanged="onPageChange"/>
  </div>
</template>

<script>
import CompPagination from '@/components/CompPagination.vue';
export default {
  components: {
    CompPagination
  }
};
</script>
