<!--(Note, it’s a terrible idea to send requests on every input
event, at the very least do some throttling or debouncing.) -->
<template>
  <div>
    <h1>HI</h1>
    <!-- <input 
      v-model="postBody" 
      type="text" 
      @change="postPost()"/> -->
    
    <v-text-field
      id="testing"
      v-model="postBody" 
      name="input-1"
      label="Label Text"
      @change="postPost()"
    />

    <ul v-if="errors && errors.length">
      <li 
        v-for="(error, index) of errors"
        :key="index">
        {{ error.message }}
      </li>
    </ul> 
  </div>
  
</template>

<script>
import axios from 'axios';

export default {
  data() {
    return {
      postBody: '',
      errors: []
    };
  },

  methods: {
    // Pushes posts to the server when called.
    postPost() {
      axios
        .post(`http://jsonplaceholder.typicode.com/posts`, {
          body: this.postBody
        })
        .then(response => {
          console.log(response);
        })
        .catch(e => {
          this.errors.push(e);
        });

      // async / await version (postPost() becomes async postPost())
      //
      // try {
      //   await axios.post(`http://jsonplaceholder.typicode.com/posts`, {
      //     body: this.postBody
      //   })
      // } catch (e) {
      //   this.errors.push(e)
      // }
    }
  }
};
</script>
