<template>
  <div>
    <p>This number does move-y things. <animated-counter :value="myValue" /></p>
    <p>You can change the tweened number here: 
      <input 
        v-model.number="myValue"
        type="number" />
    </p>
    <!-- It transitions like magic! Magic with a bunch of code behind it, that is. -->
  </div>
</template>
<script>
import AnimatedCounter from '@/components/AnimatedCounter.vue';

export default {
  components: {
    AnimatedCounter
  },

  data() {
    return {
      myValue: 100
    };
  }
};
</script>
