<template>
  <div>
    
    <h2>Search For Stuff</h2>
    <ais-index
      app-id="latency"
      api-key="3d9875e51fbd20c7754e65422f7ce5e1"
      index-name="bestbuy">
      <ais-search-box />
      <ais-results>
        <template slot-scope="{ result }">
          <p>
            <ais-highlight
              :result="result"
              attribute-name="name" />
          </p>
        </template>
      </ais-results>
    </ais-index>
  </div>
</template>
