<template>
  <div id="test">
    <div>
      <v-text-field
        v-model="newReptile"
        label="Reptile"
        type="text"
        @keyup.enter="addReptile" />
   
      <button @click="addReptile">
        Add Reptile
      </button>
    </div>
    <ul class="reptileList">
      <li 
        v-for="(reptile, i) in reptiles" 
        :key="i">
        {{ reptile.name }} -
        <button @click="deleteReptile(reptile)">
          Remove
        </button>
      </li>
    </ul>
  </div>
</template>

<script>
import { db } from '@/api/firestore';

export default {
  name: 'App',
  data() {
    return {
      reptiles: [],
      newReptile: ''
    };
  },
  firestore() {
    return {
      reptiles: db.collection('reptiles')
    };
  },
  methods: {
    addReptile: function() {
      this.$firestore.reptiles.add({
        name: this.newReptile,
        timestamp: new Date()
      });
      this.newReptile = '';
    },
    deleteReptile: function(reptile) {
      this.$firestore.reptiles.doc(reptile['.key']).delete();
    }
  }
};
</script>

<style>
#test {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
.reptileList {
  list-style: none;
}
</style>
