<template>
  <div>
    <picture-input 
      ref="pictureInput" 
      :custom-strings="{
        upload: '<h1>Bummer!</h1>',
        drag: 'Drag a 😺 GIF or GTFO'}"
      width="600" 
      height="600" 
      margin="16" 
      accept="image/jpeg,image/png" 
      size="10" 
      button-class="btn"
      @change="onChange" 
    />

    <button 
      :class="{ disabled: !image }"
      @click="attemptUpload" >
      Upload
    </button>
  </div>
</template>

<script>
import FormDataPost from '@/mixins/upload';
import PictureInput from 'vue-picture-input';

export default {
  components: {
    PictureInput
  },
  methods: {
    onChange(image) {
      console.log('New picture selected!');
      if (image) {
        console.log('Picture loaded.');
        this.image = image;
      } else {
        console.log('FileReader API not supported: use the <form>, Luke!');
      }
    },
    onRemoved() {
      this.image = '';
    },
    attemptUpload() {
      if (this.image) {
        FormDataPost('http://localhost:8001/user/picture', this.image)
          .then(response => {
            if (response.data.success) {
              this.image = '';
              console.log('Image uploaded successfully ✨');
            }
          })
          .catch(err => {
            console.error(err);
          });
      }
    }
  }
};
</script>
