<template>
  <form>
    <input 
      v-model="emailValue"
      type="text"/>
    <p v-if="!$v.emailValue.required">The email field is required!</p>
    <p v-if="!$v.emailValue.email">The input must be a proper email!</p>
  </form>
</template>

<script>
import { required, email } from 'vuelidate/lib/validators';

export default {
  data() {
    return {
      emailValue: ''
    };
  },

  validations: {
    emailValue: {
      required,
      email
    }
  }
};
</script>
